[Unit]
Description=shadowsocks+v2ray server
After=network.target
[Service]
ExecStart=v2ray -server -host windowsupdate.microsoft.com -localAddr 0.0.0.0 -localPort 80 -remoteAddr 127.0.0.1 -remotePort 8443 -loglevel none
ExecStop=pkill v2ray
Type=simple
CapabilityBoundingSet=CAP_NET_BIND_SERVICE
AmbientCapabilities=CAP_NET_BIND_SERVICE
LimitNOFILE=51200
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=v2ray
User=nobody
Group=nogroup
[Install]
WantedBy=multi-user.target
