[Unit]
Description=shadowsocks server
After=network.target
[Service]
ExecStart=ssserver -c /etc/shadowsocks/server/ss.json
ExecStop=pkill -f "ssserver -c /etc/shadowsocks/server/ss.json"
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=ssserver
User=nobody
Group=nogroup
[Install]
WantedBy=multi-user.target
