[Unit]
Description=shadowsocks+simple-tls client
After=network.target
[Service]
ExecStart=sslocal -c /etc/shadowsocks/client/ss-simple-tls.json
ExecStop=pkill -f "sslocal -c /etc/shadowsocks/client/ss-simple-tls.json"
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=sslocal-simple-tls
User=nobody
Group=nogroup
[Install]
WantedBy=multi-user.target
