[Unit]
Description=shadowsocks+v2ray client
After=network.target
[Service]
ExecStart=sslocal -c /etc/shadowsocks/client/ss-v2ray.json
ExecStop=pkill -f "sslocal -c /etc/shadowsocks/client/ss-v2ray.json"
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=sslocal-v2ray
User=nobody
Group=nogroup
[Install]
WantedBy=multi-user.target
