[Unit]
Description=shadowsocks client
After=network.target
[Service]
ExecStart=sslocal -c /etc/shadowsocks/client/ss.json
ExecStop=pkill -f "sslocal -c /etc/shadowsocks/client/ss.json"
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=ss
User=nobody
Group=nogroup
[Install]
WantedBy=multi-user.target
