[Unit]
Description=shadowsocks-rust client
After=network.target
[Service]
ExecStart=/usr/local/bin/sslocal -c /etc/shadowsocks/client/ss.json
ExecStop=/usr/bin/killall sslocal
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=sslocal
User=nobody
Group=nogroup
[Install]
WantedBy=multi-user.target
